services:
  db:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: automax_db
    ports:
      - "5432:5432"
    volumes:
      - automax_pg:/var/lib/postgresql/data

volumes:
  automax_pg:
